<h1>The Fashion Archive Dashboard </h1>

<div class="col-md-2">
</div>

<div class="col-md-10">

	<h3>Pending Pickups</h3>
	<% if @pending_pickups.empty? %>
		<p>There are currently no pending pickups.</p>
	<% else %>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Pickup Number</th>
					<th>Client</th>
					<th>Number of Pieces</th>
				</tr>
			</thead>
			<tbody>		
				<%@pending_pickups.each do |p|%>
					<tr>
						<td><%=link_to p.date.strftime("%m/%d/%Y"), p%></td>
						<td><%=p.id%></td>
						<td><%=p.client.name%></td>
						<td><%=p.piececount%></td>
					</tr>
				<%end%>
	
			</tbody>
		</table>
	<%end%>

	<h3>Pending Deliveries</h3>
	<% if @pending_deliveries.empty? %>
		<p>There are currently no pending deliveries.</p>
	<%else%>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Delivery Number</th>
					<th>Client</th>
					<th>Number of Pieces</th>
				</tr>
			</thead>
			<tbody>
					
				<%@pending_deliveries.each do |d|%>
				<tr>
					<td><%= link_to d.date.strftime("%m/%d/%Y"), d %></td>
					<td><%= d.id%></td>
					<td><%= d.client.name%></td>
					<td><%= d.piececount%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
	<%end%>

<br><%=link_to "Completed", completed_path%></br>

 <% if @query %>
 	<% if @client_results.any? %>
 		<h3>Client Search Results</h3>
 				<ul>
 	        <% @client_results.each do |client| %>
 	            <li><%=link_to client.name, client %></li>
 	        <% end %>
 	      </ul>
 	<% else %>
 		<h3>No search results</h3>
 	<% end %>
 <% end %>

</div>




