<h1>The Fashion Archive Dashboard </h1>

<div class="col-md-2">
</div>

<div class="col-md-10">

	<h3>Pending Pickups</h3>

		<%@pickups.each do |p|%>
			<%if p.completed != true %>
				<ul><li><%=link_to p.date.strftime("%m/%d/%Y"), p%> | <%=p.client.name%> | Pick Up # <%=p.id%> | Piece Count: <%=p.piececount%></li></ul>
			<%end%>
		<%end%>

	<h3>Pending Deliveries</h3>
		<%@deliveries.each do |d|%>
			<%if d.completed != true %>
				<ul><li><%=link_to d.date.strftime("%m/%d/%Y"), d %> | <%=d.client.name%> | Delivery # <%=d.id%> | Piece Count: <%=d.piececount%></li></ul>
			<%end%>
		<%end%>

<br><%=link_to "Completed", completed_path%></br

</div>




