<h1> Pickup <%=@pickup.id%> on <%=@pickup.date.strftime("%m/%d/%Y") %> for <%=@client_name%></h1>

<% if @pickup.completed? %>
	<h2>Status: Completed!</h2>
	<p> Date Completed: <%=@pickup.updated_at%></p>
<% else %>
	<h2>Status: Pending</h2>
<% end %>
 
<div class="col-md-2">
	<p>Pieces in Pickup: <%= @pickup.piececount %> </p>
	<p>Associated Pieces: <%= @pickup.pieces.count %> </p>

	<% if @pickup.completed != true %>

		<p><%=link_to "Edit Pickup Details", edit_pickup_path(@pickup)%>
		<p><%=link_to "Delete Pickup", @pickup, method: :delete, data: {confirm: "Are you sure?"} %> </p>

		<p><%=link_to "+ Check In Pieces", pickup_check_in_pieces_path(@pickup, :client_id => @pickup.client.id)%></p>

		<p><%=link_to "+ Create New Pieces", new_client_piece_path(@client_id, :pickup_id => @pickup.id) %> </p>


	<%end%>
	
	
	<% if @pickup.completed != true %>	
		<%=button_to "Complete Pickup", completed_client_pickups_path(@pickup.client_id, :pickup_id => @pickup.id), method: "put", data: { confirm: "Are you sure?"} %>
	<%else%>
		<%=button_to "Unmark as Complete", completed_client_pickups_path(@pickup.client_id, :pickup_id => @pickup.id), method: "put", data: { confirm: "Are you sure you want to unmark Pickup # #{@pickup.id} as complete?"}%>

	<% end %>
</div>

<div class="col-md-10">

	<h3>Pieces from Pickup </h3>

	<%= form_tag pickup_remove_piece_path(@pickup.id), method: :put do %>

		<%@pickup.pieces.each do |p|%>
			<ul class="all-pieces-grid">
			<%= link_to image_tag(p.photo), p %>
			<%= check_box_tag "piece_ids[]", p.id %>
			Item #:<%= p.id %>
			<p>Designer: <%= p.designer %></p>
			Description: <%= p.description %>
			</ul>
		<%end%>

		<% if @pickup.pieces != [] %>
		<br> <%= submit_tag "Remove Pieces from Pickup" %> </br>
	<%end%>
	<%end%>

	<br><%=link_to "Return to Client Page", client_path(@client_id) %></br>

</div>






