
<div class="col-md-2">

<%= render "client_menu" %>

</div>

<div class="col-md-10">
  <h1> <u> <%=@client.name%> </u> </h1>
    <p><%= link_to "View Profile", client_profile_path(@client) %></p>

<h3> Pieces On Site </h3>
	<%if @pieces_on_site.empty? %>
	   <br>There are currently no pieces in <%=@client.name%>'s archive.</br>
	<%end%>
  
  <%@pieces_on_site.each do |show|%>
    <ul class="all-pieces-grid">
      <p><%= link_to image_tag(show.photo), show %></p>
      <center><p>Piece #: <%=show.id%></p>
      Designer: <%=show.designer%></center>
    </ul>
  <%end%>


  
</div>