
<div class="col-md-2">

<%= render "client_menu" %>

</div>

<div class="col-md-10">
<h1> <%=@client.name%></h1>
<p>Total Piece Count: <%= @piece_count %></p>

<h3> Pieces On Site </h3>
    <%@pieces_on_site.each do |show|%>
    <ul class="all-pieces-grid">
      <li><%= link_to image_tag(show.photo), show %>
      <%=show.designer%>
      <%=show.id%></li>
    </ul>
  <%end%>
</div>