<div class="col-md-2">

	

</div>

<div class="col-md-10">
	<h1>Select Pieces in <%=@client.name%>'s Archive to Check out</h1>

	<h3>Pieces On Site </h3>

	<% if @pieces.empty? %>
		<br>There are currently no pieces on site to check out.</br>

	<%else%>
		<%= form_tag delivery_complete_check_out_path, method: :put do %>
			<%@pieces.each do |show|%>
				<ul class="all-pieces-grid">
					<img src = <%=show.photo%>>
					<br>Designer: <%=show.designer%></br>
					<%= check_box_tag "piece_ids[]", show.id %>  #<%=show.id%>
				</ul>
			<%end%>
			<p><%= submit_tag "Check Out Pieces" %> </p>
		<%end%>
	<%end%>

<br><%=link_to "Return to Client Page", client_path(@client) %></br>

</div>
