<h1> Delivery for <%=@client.name%></h1>

<h2> Edit Delivery </h2>

<%= form_for [@delivery] do |d|%>
	<p>Date: <%= d.date_select :date %></p>

	<p>Piece Count: <%= d.text_field :piececount %>
	<p>Notes: <%= d.text_area :notes %>
	

	<p><%= d.submit %></p>

<%end%>