<h1> New Delivery Request for <%=@client.name%></h1>

<div class="col-md-10">
	<%= form_for [@client, @delivery] do |d|%>
		<p>Date: <%= d.date_select :date %></p>

		<p>Piece Count: <%= d.text_field :piececount %>
		<p>Notes: <%= d.text_area :notes %>
		

		<p><%= d.submit class: "btn btn-default btn-md"%></p>

	<%end%>

<br><%=link_to "Return to Client Page", client_path(@client) %></br>
</div>
