<h1> <%=@client.name%>'s Accessories: </h1>

<div class="col-md-2">
	<%= render "pieces_menu" %>
	

</div>


<div class="col-md-10">

	<% if @accessories.blank? %>
		There currently no accessories in <%=@client.name%>'s archive.
	<%else%>
	  	<%@accessories.each do |show|%>
			<ul class="all-pieces-grid">
	  			<center><li><%= link_to image_tag(show.photo), show %>
		  		Piece #: <%=show.id%></br> Designer: <%=show.designer%> <br>Location: <%=show.location%></br>
				</li></center>
			</ul>
	  	<%end%>
	<%end%>

 <br><%=link_to "Return to Client", client_path(@client) %></br>

</div>


