<h1> <%=@client.name%>'s Garments: </h1>

<div class="col-md-2">
	<%= render "pieces_menu" %>
	

</div>


<div class="col-md-10">

	<% if @garments.blank? %>
		There currently no garments in <%=@client.name%>'s archive.
	<%else%>

	  	<%@garments.each do |show|%>
			<ul class="all-pieces-grid">
		  		<center><li><%= link_to image_tag(show.photo), show %>
		  		Piece #:<%=show.id%></br> Designer: <%=show.designer%> <br>Location: <%=show.location%></br>
				</li></center>
			</ul>  
	  	<%end%>
	<%end%>

 </div>

  <p><%=link_to "Return to Client", client_path(@client) %></p>
