<h2><%=@client.name%>'s Archive</h2>

<div class="col-md-2">
	<%= render "pieces_menu" %>
	

</div>

<%= form_tag(client_pieces_path(@client), :method => 'get', id: 'search-form') do %>
	<p>
	<%= text_field_tag :search, params[:search], placeholder: "Search Pieces" %>
	<%= submit_tag "Search", :name => nil %>
	</p>
<%end%>

<div class="col-md-10">

<%if @pieces.blank? %>
	There are currently no pieces in <%=@client.name%>'s archive.
<%end%>

  <%@pieces.each do |show|%>
	<ul class="all-pieces-grid">
  		<center><li><%= link_to image_tag(show.photo), show %>
  		Piece #: <%=show.id%></br> <%=show.designer%> <br>Location: <%=show.location%></br>
		</li></center>
	</ul>
  
  <%end%>

<br><%=link_to "Return to Client Page", client_path(@client) %></br>


 </div>


