<h2><%=@client.name%>'s Archive</h2>

<%= form_tag(client_pieces_path, :method => 'get', id: 'search-form') do %>
	<p>
	<%= text_field_tag :search, params[:search], placeholder: "Search Designer" %>
	<%= submit_tag "Search", :name => nil %>
	</p>
<%end%>

  <%@pieces.each do |show|%>
	<ul class="all-pieces-grid">
  		<li><%= link_to image_tag(show.photo), show %>
  		Piece Number:<%=show.id%></br> <%=show.designer%> <br><%=show.location%></br>
		</li>
	</ul>
  
  <%end%>

