<h1> <%=@client.name%>'s Garments: </h1>

<div class="col-md-2">
	<%= render "pieces_menu" %>
	

</div>


<div class="col-md-10">

	<% if @shoes.empty? %>
		There currently no shoes in <%=@client.name%>'s archive.
	<%else%>

	  	<%@shoes.each do |show|%>
			<ul class="all-pieces-grid">
		  		<center><li><%= link_to image_tag(show.photo), show %>
		  		Piece #: <%=show.id%></br> Designer: <%=show.designer%> <br>Location: <%=show.location%></br>
				</li></center>
			</ul>  
	  	<%end%>
	<%end%>

 	<p><%=link_to "Return to Client", client_path(@client) %></p>

 </div>


