<h1><%=link_to @piece.client.name, client_path(@piece.client_id)%></h1>

<div class="col-md-2">
	

</div>

<div class="col-md-6">
	<img src=<%=@piece.photo%>>

</div>

<div class="col-md-4">
<p> Piece Number: <%=@piece.id%></p>
	<p> Designer: <%=@piece.designer%></p>
	<p> Description: <%=@piece.description%></p>
	<p> Category: <%=@piece.category%></p>
	<p> Sub-Category: <%=@piece.sub_category%></p>
	<p> Size: <%=@piece.size%></p>
	<p> Color: <%=@piece.color%></p>
	<p> Material: <%=@piece.material%></p>
	<p> Condition: <%=@piece.condition%></p>
	<p> Location: <%=@piece.location%></p>
	<p> Pickup: <%=@piece.pickup_id%></p>

	<p><%=link_to "Edit", edit_piece_path(@piece)%> | <%= link_to "Delete", @piece, method: :delete, data:{confirm: "Are you sure?"} %></p>
</div>


